<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.Ecart.Testcases.addProduct</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addMultipleIteam</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addOneIteam</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addtocart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchproducut</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Catrgoryproducut</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
