<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c86f8d">  <td>23/11/16 18:43:04</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;addProduct.preloadclass()[pri:0, instance:com.Ecart.Testcases.addProduct@16d04d3d]">&gt;&gt;preloadclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@943870983</td>   <td></td> </tr>
<tr bgcolor="c86f8d">  <td>23/11/16 18:43:13</td>   <td>9530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addProduct.addOneIteam()[pri:1, instance:com.Ecart.Testcases.addProduct@16d04d3d]">addOneIteam</td> 
  <td>main@943870983</td>   <td></td> </tr>
<tr bgcolor="c86f8d">  <td>23/11/16 18:43:18</td>   <td>14578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addProduct.addtocart()[pri:4, instance:com.Ecart.Testcases.addProduct@16d04d3d]">addtocart</td> 
  <td>main@943870983</td>   <td></td> </tr>
<tr bgcolor="688e88">  <td>23/11/16 18:42:57</td>   <td>-6946</td> <td>&nbsp;</td><td title="&gt;&gt;Basemanagement.intialize()[pri:0, instance:com.Ecart.Testcases.addProduct@16d04d3d]">&gt;&gt;intialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@943870983</td>   <td></td> </tr>
</table>
