<h2>Methods that were not run</h2><table>
<tr><td>com.Ecart.Testcases.addProduct.searchproducut</td></tr>
<tr><td>com.Ecart.Testcases.addProduct.addMultipleIteam</td></tr>
<tr><td>com.Ecart.Testcases.addProduct.Catrgoryproducut</td></tr>
</table>