<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9797b">  <td>23/11/24 22:05:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Loginpage.loadpages()[pri:0, instance:com.Ecart.Testcases.Loginpage@57bc27f5]">&gt;&gt;loadpages</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="a3cd88">  <td>23/11/24 22:05:28</td>   <td>31</td> <td>&nbsp;</td><td title="&lt;&lt;Basemanagement.teardown()[pri:0, instance:com.Ecart.Testcases.Loginpage@57bc27f5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="a3cd88">  <td>23/11/24 22:05:20</td>   <td>-8115</td> <td>&nbsp;</td><td title="&gt;&gt;Basemanagement.intialize()[pri:0, instance:com.Ecart.Testcases.Loginpage@57bc27f5]">&gt;&gt;intialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1096485705</td>   <td></td> </tr>
<tr bgcolor="b9797b">  <td>23/11/24 22:05:28</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Loginpage.logedinuser(java.lang.String,java.lang.String)[pri:3, instance:com.Ecart.Testcases.Loginpage@57bc27f5]">logedinuser</td> 
  <td>main@1096485705</td>   <td></td> </tr>
<tr bgcolor="b9797b">  <td>23/11/24 22:05:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Loginpage.loadpages()[pri:0, instance:com.Ecart.Testcases.Loginpage@57bc27f5]">&gt;&gt;loadpages</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b9797b">  <td>23/11/24 22:05:28</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Loginpage.verifyloginpage()[pri:2, instance:com.Ecart.Testcases.Loginpage@57bc27f5]">verifyloginpage</td> 
  <td>main@1096485705</td>   <td></td> </tr>
<tr bgcolor="a3cd88">  <td>23/11/24 22:05:20</td>   <td>-8124</td> <td title="&gt;&gt;Basemanagement.applyRetryAnalyzer(org.testng.ITestContext)[pri:0, instance:com.Ecart.Testcases.Loginpage@57bc27f5]">&gt;&gt;applyRetryAnalyzer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1096485705</td>   <td></td> </tr>
<tr bgcolor="b9797b">  <td>23/11/24 22:05:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Loginpage.loadpages()[pri:0, instance:com.Ecart.Testcases.Loginpage@57bc27f5]">&gt;&gt;loadpages</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b9797b">  <td>23/11/24 22:05:28</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Loginpage.userloginPage()[pri:1, instance:com.Ecart.Testcases.Loginpage@57bc27f5]">userloginPage</td> 
  <td>main@1096485705</td>   <td></td> </tr>
</table>
